

<div>

<div id="accordion">
    {% for item in favorites %}
    <h3 class="ui-accordion-header">{{ item.title }}</h3>
    <div class="ui-accordion-content">
        <p>{{ item.release_year }}</p>
        <p>{{ item.runtime }}</p>
        <img src="{{ item.poster }}">

    </div>
    {% endfor %}
{#    <h3 class="ui-accordion-header">Header Two</h3>#}
{#    <div class="ui-accordion-content">Content Two</div>#}
</div>


<p><button class="removeFavorite" data-title="{{ item.title }}">Remove from Favorites</button></p>
</div>
